body {
  margin: 0;
  padding: 0;

}
.container {
  width: 1200px;
  margin: 0 auto;
}
.container-content {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 3rem;
}

.container-btn {
  width: 50%;
  background: #e89494;
  color: #fff;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
}

.container-title {
  color: #999;
  text-transform: uppercase;
}
